<% let THEME_COLOR = "#48494B" %>
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Metadata -->
	<title><%- title %></title>
	<% if( typeof description !== 'undefined' ) { %>
	<meta name="description" content="<%= description %>">
	<% } %>

	<!-- Open Graph metadata -->
	<meta property="og:site_name" content="The Ugly Croissant">
	<meta property="og:title" content="<%- title %>">
	<meta property="og:type" content="website">
	<% if( typeof card_photo !== 'undefined' ) { %>
	<meta name="og:image" content="<%- card_photo %>">
	<% } %>

	<!-- Responsive metatag -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicons -->
	<link rel="shortcut icon" type="image/png" href="/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="<%- THEME_COLOR %>">
	<meta name="msapplication-TileColor" content="<%- THEME_COLOR %>">
	<meta name="theme-color" content="<%- THEME_COLOR %>">

	<!-- Structured content -->
	<% if( typeof(directory)!=='undefined' && directory === 'recipe' ) { %>
	<%- include('structured_content') %>
	<% } %>

	<!-- Umami analytics -->
	<script async src="https://umami.tomchaplin.xyz/script.js" data-website-id="cfdda27d-5b40-47c2-89b1-1dff868de4a9"></script>

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/css/styles.css" />
	<link href="https://fonts.googleapis.com/css2?family=Arapey&family=Livvic&display=swap" rel="stylesheet">

</head>
<body>
<div class="nav_holder">
	<div class="logo_preline"></div>
	<div class="logo_holder">
		<a href="/index"><img src="/assets/the_ugly_croissant_long.png" alt="The Ugly Croissant Logo"></a>
	</div>
	<div class="logo_postline"></div>
	<nav class="no_print">
		<a href="/index"><div class="nav_item">Recipes</div></a>
		<div class="nav_padder"></div>
		<a href="/search"><div class="nav_item">Search</div></a>
		<div class="nav_padder"></div>
		<a href="/about"><div class="nav_item">About</div></a>
	</nav>
</div>
