<div class="recipe_card" id="<%=link %>">
	<div class="recipe_card_img_holder">
		<a href="<%= link %>"><img src="<%= card_photo %>"></a>
	</div>
	<div class="recipe_card_text_holder">
		<h3><a href="<%= link %>"><%= title %></a></h3>
		<span class="description"><%= description %></span>
	</div>
</div>
