<%- include('header') %>
<div class="recipe_wrapper">
	<div class="recipe_left_column">
		<div class="recipe_page_image_wrapper" id="recipe_page_image_wrapper">
			<div class="recipe_page_image" id="recipe_page_image">
				<% images.forEach( img => { %>
				<img src="<%= img %>" alt="<%= title %>">
				<% }); %>
			</div>
			<div class="recipe_page_image_nav" id="recipe_page_image_nav">
			</div>
		</div>
		<%- include('recipe_page_title') %>
		<div class="recipe_page_ingredients">
			<div class="preline_wrapper"><div class="preline no_print"></div><h2>Ingredients</h2></div>
			<ul>
			<% ingredients.forEach(row => {
				if(typeof(row)==='object') {
					var subtitle = Object.keys(row)[0]
			%>
				<h3><%- subtitle %></h3>
				<% row[subtitle].forEach(ingredient => { %>
				<li><%- ingredient %></li>
			<% }) } else { %>
				<li><%- row %></li>
			<% }}) %>
			</ul>
		</div>
	</div>
	<div class="recipe_right_column">
		<%- include('recipe_page_title') %>
		<div class="recipe_page_method">
			<div class="preline_wrapper"><div class="preline no_print"></div><h2>Method</h2></div>
			<% method.forEach( paragraph => { %>			
				<p><%- paragraph %></p>
			<% }) %>
		</div>
	</div>
</div>
<script type="text/javascript" src="/app/recipe_page.js"></script>
<%- include('footer') %>
